:root {
    --background-color: rgba(208,168,150);
}

* {
    background-color: var(--background-color);
}
footer img{
    width: 30px;
    margin: 5px;
}
footer{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.nav-tabs{
    display: flex;
}

