:root {
    --background-color: rgb(179, 201, 196);
    --highlight-color: rgb(201, 225, 220);
}
*{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}
body {
    background-color: var(--background-color);
}
footer img{
    width: 30px;
    margin: 5px;
}
footer{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul.nav.nav-tabs{
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0px;
    padding-bottom: 1px;
    border-bottom: solid black 1px;
}
li.nav-item{
    margin:1px;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-style: solid ;
    border-color:  var(--highlight-color);
    border-width: 1px 1px 0px 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
a.nav-link{
    text-decoration: none;
    color: black;
}
li.nav-item:has(a.active){
    background-color: var(--highlight-color);
}
h1{
    margin: 50px;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}
input, textarea{
    margin: 10px;
    padding: 2px;
    width: 400px;
    border-style: none;
    border-radius: 2px;
}
.submit-btn{
    background-color: var(--highlight-color);
}
.error-text{
    padding-left: 4%;
}
article>p{
    padding-left: 5px;
}


li>a>img{
    width: 332px;
    height: 158px;
    margin: 75px;
}

.projects{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.project{
}